<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Login- Sign into your account</title>
</head>
<body id="body-bg" class="font-mono pt-12 md:pt-20 pb-6 px-2">
    <style>
        #body-bg{
            background: rgb(2,0,36);
            background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%); 
        }
    </style>
    
    <div class="mx-auto max-w-lg" id="header-section">
        <h1 class="font-bold text-center text-4xl text-white"> Login </h1>
    </div>

    <% if(messages.error) { %>
        <%= messages.error %>
    <% } %>

    <section class="bg-white mx-auto max-w-lg p-8 md:p-12 my-10 rounded-lg shadow-2xl" id="sub-heading">
        <div class="">
            <p class="font-bold text-gray-600 text-xl text-center italic"> Sign in to your account </p>
        </div>
        <div class="mt-10" id="form-section">
            <form class="flex flex-col" action="/login" method="POST">
                <div class="mb-6 pt-4 rounded bg-gray-200">
                    <label class="block text-gray-700 text-sm font-bold mb-2 ml-2" for="email">Email</label>
                    <input class="bg-gray-200 text-gray-700 rounded w-full focus:outline-none border-b-4 border-gray-300 focus:border-blue-800 transition duration-500 px-3 pb-3" type="text" id="email" name="email" required>
                </div>
                <div class="mb-6 pt-4 rounded bg-gray-200">
                    <label class="block text-gray-700 text-sm font-bold mb-2 ml-2" for="name">Password</label>
                    <input class="bg-gray-200 text-gray-700 rounded w-full focus:outline-none border-b-4 border-gray-300 focus:border-blue-800 transition duration-500 px-3 pb-3" type="password" id="password" name="password" required>
                </div>
                <br />
                <button class="bg-blue-700 shadow-2xl hover:bg-blue-800 py-2 text-white rounded font-bold transition duration-200" type="submit">Sign in</button>
                
            </form>
        </div>
    </section>

    <div class="max-w-lg mx-auto text-center mt-12 mb-6">
        <p class="text-white font-bold hover:underline">Don't have an account? <a href="/register">register</a></p>
    </div>

    
</body>
</html>