<html lang="en">
<!-- head tag starts here -->
<%- include('./partials/head.ejs') %>
<!-- end head tag -->
<body id="body-bg" class="font-mono pt-12 md:pt-20 pb-6 px-2">
    <style>
        #body-bg{
            background: rgb(2,0,36);
            background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%); 
        }
    </style>
    <div class="mx-auto max-w-lg">
        <h1 class="font-bold text-center text-4xl text-white">Register</h1>
    </div>
    <section class="mx-auto max-w-lg p-8 bg-white rounded-lg md:p-12 my-10 shadow-2xl">
        <div class="">
            <p class="font-bold text-center text-lg text-slate-700"> Open a free account today </p>
        </div>
        <form class=" mt-10 flex flex-col" action="/register" method="POST">
            <div class="mb-6 pt-3 rounded-lg bg-gray-200">
                <label class="font-bold mb-2 ml-2 text-slate-800 block" for="name">Name</label>
                <input class="bg-slate-200 text-slate-700 font-bold rounded w-full focus:outline-none border-b-4 border-gray-300 focus:border-blue-800 transition duration-500 px-4 pb-4" type="text" id="name" name="name" required>
            </div>
            <div class="mb-6 pt-3 rounded-lg bg-gray-200">
                <label class="font-bold mb-2 ml-2 text-slate-800 block" for="email">email</label>
                <input class="bg-slate-200 text-slate-700 font-bold rounded w-full focus:outline-none border-b-4 border-gray-300 focus:border-blue-800 transition duration-500 px-4 pb-4" type="text" id="email" name="email" required>
            </div>
            <div class="mb-6 pt-3 rounded-lg bg-gray-200">
                <label class="font-bold mb-2 ml-2 text-slate-800 block" for="name">Password</label>
                <input class="bg-slate-200 text-slate-700 font-bold rounded w-full focus:outline-none border-b-4 border-gray-300 focus:border-blue-800 transition duration-500 px-4 pb-4" type="password" id="password" name="password" required>
            </div>
            <br />
            <button class="bg-blue-700 shadow-2xl rounded-lg hover:bg-blue-800 py-3 font-bold text-white transition duration-500" type="submit">Register</button>
        </form>
    </section>
    <div class="mx-auto max-w-lg mt-6 mb-3">
        <p class="font-bold text-slate-200 text-center">Already have an account? <a class="text-slate-200 hover:text-red-600" href="/login">Login</a></p>
    </div>
    
</body>
</html>